body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 100%;
    color: #F6F6F6;
}

#search {
    background-color: #4D5B6F;
    width: 100%;
    margin: 0;
}

.form-control {
    background-color: #ABB5C5;
}

.illustration {
    width: 95%;
}

/* Responsive Styles */
@media screen and (max-width: 360px) {
    #search > .container-fluid > .row {
        display: flex;
        flex-direction: column;
    }
    .col-9 {
        width: 100%;
    }
    .col-3 {
        margin-top: 8%;
        width: 50%;
    }
}