body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 100%;
    color: #F6F6F6;
}
#search {
    background-color: #4D5B6F;
    width: 100%;
    margin: 0;
}

.container-fluid > .row {
    width: 100%;
}

.form-control {
    background-color: #ABB5C5;
}

.illustration {
    width: 90%;
}